# Binarios generados
/dist/
/bin/
/.bolt/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Archivos de configuración locales
.env
.multi.env
.env.*.local
.env.development

# Logs
*.log
logs/

# Cachés y directorios temporales
*.tmp
*.temp
*.swp
*.DS_Store

.vscode/
.idea/
*.iml

# Carpeta de uploads (archivos subidos por usuarios)
src/public/uploads/